<div class="text-center my-5">
  <i class="<%= icon %> text-muted mb-3" style="font-size: 2rem;"></i>
  <p class="text-muted mb-1"><%= text %> <span class="fw-bold fst-italic"><%= bold ? `'${bold}'` : '' %></span></p>
  <p class="text-muted small"><%= subtext %></p>
</div>