<nav class="navbar bg-body-tertiary sticky-top shadow-sm">
  <div class="container d-flex align-items-center justify-content-between flex-wrap gap-0">

    <!-- Brand -->
    <%- include('./brand', { src: '/img/brand.png', location: '/' }); %>

    <% if (user) { %>
    <!-- Search and Avatar Row -->
    <div class="d-flex flex-grow-1 gap-3">

      <!-- Search Form -->
      <%- include('./searchForm', { placeholder: 'Search' }); %>

      <!-- Avatar and Users Icon -->
      <div class="d-flex align-items-center flex-shrink-0">
        <a class="text-muted me-3" href="/home/users">
          <i class="fas fa-users"></i>
        </a>
        <%- include('./avatarDropdown') %>
      </div>
    </div>
    <% } else { %>

    <!-- Not Logged In -->
    <div class="d-flex align-items-center ms-auto gap-2 mt-2 mt-lg-0">
      <button type="button" class="btn btn-sm btn-link px-3" data-mdb-toggle="modal" data-mdb-target="#loginModal">
        Login
      </button>
      <button type="button" class="btn btn-sm btn-primary" data-mdb-toggle="modal" data-mdb-target="#signupModal">
        Sign up
      </button>
    </div>
    <% } %>

  </div>
</nav>