  <!-- Profile Navigation Tabs -->
  <div class="bg-body-tertiary border-top rounded-bottom-3 pt-1 px-3">
    <ul class="nav nav-tabs border-0">
      <li class="nav-item dis">
        <a class="nav-link rounded-top border-primary disabled" href="#">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Liked</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Followers</a>
      </li>
    </ul>
  </div>