  <% const links = [
  {
    title: 'Posts',
    path: `/${viewUser.username}`,
    isActive: true
  },
  {
    title: 'Liked',
    path: `/${viewUser.username}/likes`,
    isActive: false
  },
  {
    title: 'Followers',
    path: `/${viewUser.username}/followers`,
    isActive: false
  }
  ]; %>

  <!-- Profile Navigation Tabs -->
  <div class="border-top rounded-bottom-3 pt-1 px-3">
    <ul class="nav nav-tabs border-0">
      <% links.forEach(link => { %>
      <li class="nav-item"></li>
      <a class="nav-link <%= path === link.path || path === `${link.path}/page/${currentPage}` ? 'rounded-top active fw-semibold' : 'text-secondary hover-primary'  %> <%= !link.isActive ? 'disabled' : '' %>" href="<%= link.path %>" style="transition: all 0.2s ease-in-out;">
        <%= link.title %>
      </a>
      </li>
      <% }) %>
    </ul>
  </div>