<form action="/results" method="GET" class="input-group w-100 w-lg-auto my-auto">
  <input id="search" type="search" class="form-control rounded-pill" placeholder="<%= placeholder || 'Search' %>" aria-label="Search" aria-describedby="search-addon" name="search_query" required />
  <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
</form>